@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
} 

.bigContainer {
  max-width: 1000px;
  width: 100%;
  /* padding: 7px 5%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.container,
.main-head {
  font-size: 40px;
  /* max-width: 1000px; */
  /* width: 100%; */
  /* margin: 0 auto; */
  /* width: 1000px; */
  padding: 7px 70px;
  margin: 1px 1px;
}
.container{
border-bottom: 3px solid #7d8d86;}
.text {
  font-size: 30px;
}

.text,
.text2 {
  /* font-size: 50px; */
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: var(--black-dark, #fff);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 10px 10px;
}
#author {
  border-radius: 50%;
  border: 6px solid #fffef1;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 15px auto;
  display: block;
}
.text {
  display:flex;
  justify-content: center;
  font-size: 60px;
  letter-spacing:0.9rem;
  font-weight: bold;
  color: var(--black-dark);
}
.text2 {
  font-size: clamp(1.5rem, 2.5vw, 1.4rem);
  letter-spacing: 5px;
  font-weight: bold;
  color: var(--black-dark);
}
.text span {
  display: flex;
  animation: pop 0.4s ease-in-out;
}

.text span:nth-child(1) {
  animation-delay: 0.4s;
  background-color: #7d8d86;
}

.text span:nth-child(2) {
  animation-delay: 0.5s;
  background-color: #7d8d86;
}

.text span:nth-child(3) {
  animation-delay: 0.6s;
  background-color: #7d8d86;
}

.text span:nth-child(4) {
  animation-delay: 0.7s;
}

.text span:nth-child(5) {
  animation-delay: 0.8s;
}
.text span:nth-child(6) {
  animation-delay: 0.9s;
}
.text span:nth-child(7) {
  animation-delay: 1s;
}
.text span:nth-child(8) {
  animation-delay: 1s;
}
.text span:nth-child(9) {
  animation-delay: 1s;
}
.text span:nth-child(10) {
  animation-delay: 1s;
}
.text2 span {
  display: inline-block;
  animation: pop 0.4s ease-in-out;
}

.text2 span:nth-child(1) {
  animation-delay: 0.4s;
  background-color: #7d8d86;
}

.text2 span:nth-child(2) {
  background-color: #7d8d86;
  animation-delay: 0.5s;
}

.text2 span:nth-child(3) {
  background-color: #7d8d86;
  animation-delay: 0.6s;
}

.text2 span:nth-child(4) {
  animation-delay: 0.7s;
}

.text2 span:nth-child(5) {
  animation-delay: 0.8s;
}
.text2 span:nth-child(6) {
  animation-delay: 0.9s;
}
.text2 span:nth-child(7) {
  animation-delay: 1s;
}
.text2 span:nth-child(8) {
  animation-delay: 1s;
}
.text2 span:nth-child(9) {
  animation-delay: 1s;
}
.text2 span:nth-child(10) {
  animation-delay: 1s;
}

@keyframes pop {
  0% {
    transform: scale(1);
    /* opacity: 0; */
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  background-color: #191918;
}
body {
  border-top: #fffef1;
}
header {
  color: #e0dfdc;
  /* background-color: #585f5c; */
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #f1f0e4, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c,
    0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424,
    0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c,
    0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414,
    0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  text-align: center;
  font-size: 70;

  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;

  transform: none;
}
.list {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  flex-direction: column;
  gap: 39px;
}
.art {

  position: relative;
  display: flex;
  width: fit-content;
  margin: 20px auto;
  /**/
  /* width: 100%; */
  height: auto;
  font-size: 70px;
  text-align: center;
  border: 5px solid #333;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.05);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
  -webkit-box-shadow: -100px 1px 15px 0px #7d8d86;
  box-shadow: -100px 1px 1px 0px #7d8d866a;
}
.art:hover {
  background-color: rgb(252, 227, 194);
  -webkit-box-shadow: 3px 3px 32px 10px #f1f0e4;
  box-shadow: 3px 3px 32px 10px #f1f0e4;
  transform: scale(1.09);
  box-shadow: 0 0 40px rgba(234, 216, 171, 0.5);
  cursor: pointer;
}
/* .artImg:hover {
width: 150%;
} */
.artTitle {
  /* display: inline-block; */
  align-self: center;
  border: 4px solid #f1f0e4;
  border-radius: 5px;
  padding: 10px;
  inline-size: 150px;
  background-color: #262626;
  border-radius: 6px;
  display: inline-block;
  color: #7d8d86;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px auto;
}

.artTitle:hover {
  font-family: serif;
  color: #ead8ab;
  font-weight: bold;
  border:solid 6px #7d8d86;
  font-style: italic;
  /* transform: scaleX(-1); */
}
#side {
  font-size: 25px;
  color: #7d8d86;
  text-align: center;
  border-top: 3px solid;
}
.about {
  font-size: 26;
  color: #7d8d86;
  text-align: center;
  line-height: 1.5;
}
.Contact {
  text-align: center;
  color: #7d8d86;
  line-height: 1.5;
  text-align: center;
}
.lin {
  color: #bca88d;
  font-size: 28px;
  text-align: center;
}
.lin:hover {
  color: #ead8ab;
  font-weight: bold;
  font-style: italic;
  transform: scaleX(-1);
  display: inline-block;
}
.lin:active {
  background-color: #e0dfdc;
}

.list li {
  list-style: none;
  margin: 40px 0;
  text-align: center;
}

.list li:nth-child(even) {
  /* transform: translateX(-30px); */
  align-self: flex-end;
  text-align: left;
  /* padding-left: 142px; */
  /* padding-right: 30px; */
  border: 18px solid #7d8d86;
  float: right;
}
.list li:nth-child(odd) {
  /* transform: translateX(+30px); */
  align-self: flex-start;
  text-align: right;
  /* padding-left: 142px;
  padding-right: 30px; */
  border: 18px solid #7d8d86;
}
.licensed{
  font-family: fantasy;
  color: #7d8d86;
  line-height: 1.5;
  text-align: center;
}
.licensedLink{
  color: #bca88d;
  font-size: 12px;
  text-align: center;
}
.licensedLink:hover{
  color: #ead8ab;
  font-weight: bold;
  font-style: italic;
  transform: scaleX(-1);
  display: inline-block;
  
}
